
h1{
	color:green;
	text-align:center;
	font-family:cursive;
	background-color:lightblue;
}

p{
	color:black;
}
h2{
	color:red;
	font-family:cursive;
}

h3{
	color:purple;
	text-align:center;
	font-family:cursive;
}

body{
	background-color: pink;
}